.calendar-container,
.calendar,
.calendar-header,
td,
tr {
    padding: 0;
    margin: 0;
}

td {
  margin: 0.5%;
  padding: 0.5%;
}

.calendar-container {
  margin-top: 30px;
  border: 1px solid rgb(29, 108, 147);
  width: inherit;
}

.calendar {
  background-color: white;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;

  border-spacing: 5px 12px;
  padding: 0 8px 8px 0;
  border-collapse: separate;
}

.calendar-header {
  font-size: 20px;
  text-align: center;
}

.calendar-header td {
  border-spacing: 0;
  padding-left: 5px;
}

.day,
.empty-slot,
.week-day {
  text-align: center;
  height: 40px;
}

.empty-slot {
  background-color: rgb(240, 240, 240);
}

.week-day {
  font-size: 0.8em;
}

.day {
  cursor: pointer;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 0.8em;
  border: 1px solid rgb(230, 108, 85);
  color: rgb(230, 108, 85);
}

.current-day {
  background-color: rgb(230, 108, 85);
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 2%;
  color: white;
}

.arrow {
  width: 10px;
  height: 20px;
  cursor: pointer;
}
