
@font-face {
   font-family: 'CooperHewitt-Bold';
   font-style: normal;
   font-weight: 400;
   src: url('../../../public/css/fonts/CooperHewitt-Bold.eot');
   src: url('../../../public/css/fonts/CooperHewitt?#iefix') format('embedded-opentype'),
       url('../../../public/css/fonts/CooperHewitt-Bold.eot') format('woff2'),
       url('../../../public/css/fonts/CooperHewitt-Bold.woff') format('woff'),
       url('../../../public/css/fonts/CooperHewitt-Bold.ttf') format('ttf'),
       url('../../../public/css/fonts/CooperHewitt-Bold.svg') format('svg');
}
